/* Footer */

footer {
    background-color: var(--text-color);
    height: 47.8rem;
    margin-top: 7.7rem;
  }
  footer section {
    /* margin-top: 5rem; */
    display: flex;
    justify-content: space-between;
  }
  .footer__text,
  .footer__image {
    margin-top: 5.6rem;
  }
  
  .footer__contact {
    display: flex;
    justify-content: space-between;
    width: 17rem;
    margin-top: 1.8rem;
  }
  .footer__contact-image {
    background-color: transparent;
  }
  .social-media {
    margin-top: 4rem;
  }
  .social-media .footer__contact-text {
    margin-right: 6rem;
  }
  .map-contact {
    margin-top: 4rem;
  }
  
  