/* Footer */

footer {
    background-color: var(--text-color);
    height: 47.8rem;
    margin-top: 7.7rem;
  }
  footer section {
    /* margin-top: 5rem; */
    display: flex;
    justify-content: space-between;
  }
  .footer__text,
  .footer__image {
    margin-top: 5.6rem;
  }
  
  .footer__contact {
    display: flex;
    justify-content: space-between;
    width: 17rem;
    margin-top: 1.8rem;
    cursor: pointer;
  }
  .footer__contact-image {
    background-color: transparent;
  }
  .social-media {
    margin-top: 4rem;
    
  }
  .social-media .footer__contact{
    display: flex;
    justify-content: flex-start;
  }
  .social-media .footer__contact-text {
    margin-left: 2rem;
  }
  .instagram-contact{
    margin-left: 2rem;
  }

  .map-contact {
    margin-top: 4rem;
  }


  /* Media Query */

@media (max-width: 768px) {
  
 .footer__image img{
  width: 100%;
  height: 20vh;
 }
 
}