
/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  margin-left: 1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-grow: 0.75;
}
.menu__items {
  display: flex;
  justify-content: space-between;
  flex-grow: 0.16;
  list-style: none;
  cursor: pointer;
  margin:  0.4rem 0 0 3rem;
}

.lang-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0.03;
  cursor: pointer;
}

.header {
  display: flex;
  background-image: url(/images/fotka.png);
  height: 56.7rem;
}

.header__article {
  margin: 22.7rem 0 0 9.5rem;
}
.header__paragraph {
  margin-top: 2rem;
}
.header__button {
  margin-top: 5.3rem;
}
.header__button-arrow {
  width: 4rem;
  height: 4rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow {
  margin: 27.4rem 0 0 3.2rem;
}
.right-arrow {
  margin: 27.4rem 0 0 86.5rem;
}
.header__footer-arrow {
  margin: 53.1rem 61.5rem 0 0;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 40rem;
    background-size: stretch;
    height: 56.7rem;
  }
  .right-arrow {
    margin: 27.4rem 0 0 22rem;
  }

  /* .header__article {
    margin: 15rem 0 0 6rem;
  } */
  .navbar__logo {
    font-size: 3rem;
  }
  .navbar {
    align-items: center;
  }
  .lang-switcher {
    margin-right: 9rem;
  }
}

@media (max-width: 480px) {
  .lang-switcher {
    margin-right: 0;
    margin-left: 20rem;
  }
  .menu__items {
    display: none;
  }
  .header {
    width: 100%;
    height: 40rem;
    background-size: stretch;
  }
  .right-arrow,
  .left-arrow {
    display: none;
    margin: auto;
  }
}
